<!DOCTYPE html>
<html>
<head>
    <title>Administration</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administration</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin/parameters">Paramètres</a></li>
                <li><a href="/admin/users">Gérer les utilisateurs</a></li>
                <li><a href="/admin/planning">Editer le planning</a></li>
                <li><a href="/admin/poll">Consulter le sondage</a></li>
                <li><a href="#" onclick="confirmSend()">Envoyer le mail hebdo</a></li>
                <script>
                  function confirmSend() {
                    if (window.confirm("Confimer l\'envoi du mail ?")) {
                      document.location.href = "/admin/send-notification";
                    }
                  }
                </script>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<p>Bienvenue sur la page admin !!!!</p>