<!DOCTYPE html>
<html>
<head>
    <title>Administration - Gestion des utilisateurs</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestion du planning</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Retour à l'accueil de la partie administration</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Livreur</th>
    </tr>
    </thead>
    <tbody>
    <% model.forEach(function(item) { %>
    <tr>
        <td><%= item.date %></td>
        <td><%= item.deliverer.name %></td>
    </tr>
    <% }) %>
    </tbody>
</table>