<!DOCTYPE html>
<html>
<head>
  <title>Sondage Petits Pains</title>
</head>
<body>
<style>
  .button {
    font: bold 11px Arial;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-left: 5px;
  }

  .green {
    background-color: #006600;
  }

  .red {
    background-color: #660000;
  }

  .green:hover {
    background-color: #008800;
  }

  .red:hover {
    background-color: #880000;
  }
</style>
<h2>Sondage Petits Pains</h2>

<p>Bonjour,<br>
  Afin d'anticiper au mieux le nombre de personnes présentes ce <b><%= delivery.dateText %></b>
  pour déguster de succulents pains au chocolat, un sondage automatique est mené pour faciliter le travail du
  livreur.<br>
  <br>

<h3 style="margin-top:5px;margin-bottom:0px">Serez-vous parmi nous ?</h3>
<i style="font-size:small">Pour répondre, vous devez être connecté au réseau Sopra.</i>

<div style="margin-top:8px;">
  <a class="button green" href="http://swinterwebint01.ptx.fr.sopra:36789/polls/<%= guid %>/true">OUI</a>
  <a class="button red" href="http://swinterwebint01.ptx.fr.sopra:36789/polls/<%= guid %>/false">NON</a><br>
</div>
<br>
Merci de bien vouloir y répondre
avant <b><%= poll.closingDateText %></b>.<br>
<br>
Rappel : Vous pouvez retrouver tout le calendrier <a title="(accessible depuis le réseau Sopra uniquement)"
                                                     href="http://swinterwebint01.ptx.fr.sopra:36789">ici</a>.</p>
<!--<p><i>N.B. : Ceci est un mail automatique, merci de ne pas y répondre.</i></p>-->
</body>
</html>