<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
    <link rel="icon" type="image/png" href="/croissant.png" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/source.js"></script>
  </head>
  <body background="/images/vinnoiserie.jpg">
    <a
      type="button"
      class="btn btn-default admin-button"
      href="/admin"
      title="Administration"
    >
      <span class="glyphicon glyphicon glyphicon-cog"></span>
    </a>

    <div class="the_deliverer">
      <h2>Personne dans la boucle</h2>

      <a href="/admin/users" title="Administration"
        >Commencez par créer des utilisateurs abonnés au service</a
      >
    </div>
  </body>
</html>
