<!DOCTYPE html>
<html>
<head>
    <title>Petits Pains, à votre tour !</title>
</head>
<body>
<h2>Bravo, c'est à vous d'apporter les pains au chocolat cette semaine.</h2>

<p>Bonjour,<br><br>
    Le sondage de présence pour les petits pains du <%= deliveryDateText %> a démarré.<br>
    <br>
    Vous pouvez consulter les résultats en temps réel et relancer les retardataires à l'adresse suivante :<br>
    <a href="<%= pollAddress %>"><%= pollAddress %></a></p><br>
</body>
</html>