body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: 100%;
}

a {
    color: #00B7FF;
}

.the_deliverer {
    text-align: center;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.the_next_deliverer {
    text-align: center;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

#deliv_image {
    width: 13%;
    padding: 1em;
    display: block;
    margin: auto;
    border-radius: 120px;
}

#next_deliv_image {
    width: 7%;
    padding: 1em;
    display: block;
    margin: auto;
    border-radius: 18px;
    height: 100px;
    width: auto;
}

.searchForm {
    padding: 1em;
    background-color: white;
    border-radius: 4px;
}

.admin-button{
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.33;
}

.admin-button:hover{
    opacity: 0.8;
}

.sortableDiv, .contentDiv {
    float: left;
}

#content, #past-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

#sortable li {
    padding-left: 7em;
    width: 300px;
}

#sortable li span {
    position: relative;
    margin-left: -1.3em;
}


#sortable li span:hover{
    cursor:grab;
}