<!DOCTYPE html>
<html>
<head>
  <title>Résultats Sondage Petits Pains</title>
</head>
<body>
<h2>Résultats du sondage de présence pour les petits pains</h2>

<p>Bonjour,<br>
  Le sondage de présence pour les petits pains du <%= deliveryDateText %> est désormais terminé.<br>
  Voici les résultats :</p><br>
  <ul>
    <li><b><%= presentCount %></b> personne(s) présente(s).</li>
    <li><b><%= noResponseCount %></b> personne(s) n'ayant pas répondu.</li>
    <li><b><%= absentCount %></b> personne(s) absente(s).</li>
  </ul>
</body>
</html>