<!DOCTYPE html>
<html>
<header>
    <title>Rappel Petits Pains</title>
</header>
<body>
    <h2>Rappel Petits Pains</h2>

    <p>Bonjour à tous,<br>
    Cette semaine la personne qui nous apporte les petits pains est <b><%= deliveries[0].deliverer.name %></b>.<br>
        <img src="http://swinterwebint01.ptx.fr.sopra:36789<%=deliveries[0].deliverer.avatar%>" height="100"/>
    <br>
    La semaine prochaine ce sera <b><%= deliveries[1].deliverer.name %></b>. <br>
        <img src="http://swinterwebint01.ptx.fr.sopra:36789<%=deliveries[1].deliverer.avatar%>" height="50" /><br>
    Retrouvez tout le calendrier <a title="(accessible depuis le réseau Sopra uniquement)" href="http://swinterwebint01.ptx.fr.sopra:36789">ici</a>.</p>

    <p><i>N.B. : Ceci est un mail automatique, merci de ne pas y répondre.</i></p>
</body>
</html>