<!DOCTYPE html>
<html>
<header>
    <title>Rappel Petits Pains</title>
</header>
<body>
    <h1>Rappel Petits Pains</h1>
    <p>Bonjour à tous,
    Cette semaine la personne qui nous apportera les petits pains est <b><%= nextDeliverer %></b>.

    P.S.: La semaine prochaine ce sera <b><%= followingDeliverer %></b>. Plus d'infos sur le calendrier <a href="http://swinterwebdev01:36789">ici</a>.</p>

    <p>N.B. : Ceci est un mail automatique, merci de ne pas y répondre.</p>
</body>
</html>